/* variables */
:root {
  --primary: #9ececa;
  --background: #e5e4e4;
  --header-background: #dadada;
  --highlight: #df5b57;
  --text: #333;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* base styles */
body{
  background: var(--background);
  font-family: 'Source Code Pro', sans-serif;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

li{
  list-style-type: none;
}

a {
  color: var(--text);
  border-bottom: 2px dotted var(--text);
}

a:hover {
  color: var(--highlight);
  border-bottom: 2px dotted var(--highlight);
}

/* custom font sizing */
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
p {
  font-size: 0.9em;
}

/* mobile styles */
#welcome {
  background: var(--primary);
  text-align: center;
  padding: 50px 20px;
}

#welcome h1 {
  color: #fff;
}

#welcome h4 {
  font-style: italic;
}

#welcome .welcome-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#team ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 15px auto 60px;
  max-width: 1400px;
}

#team .member-card {
  margin: 15px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}

#team .member-card:hover {
  transform: scale(1.06);
}

#team .member-card .member-card-header {
  padding: 15px;
  background: var(--header-background);
  display: flex;
  justify-content: space-between;
}

#team .member-card .member-card-header .name-role {
  line-height: 2em;
}

#team .member-card .member-card-header .img-role {
  display: flex;
  justify-content: center;
  align-items: center;
}

#team .member-card .member-card-body {
  padding: 15px;
  background: #fff;
  line-height: 2em;
  flex-grow: 1;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

  #team ul {
    flex-direction: row;
  }

  #team .member-card {
    flex: 0 0 44%;
  }

}

/* large tablet and laptop styles */
@media screen and (min-width: 960px) {

  body {
    font-size: 18px;
  }
  
  #team .member-card {
    flex: 0 0 26%;
  }

}

/* desktop styles */
@media screen and (min-width: 1200px) {

  #team .member-card {
    flex: 0 0 20%;
  }

}